# Generated output
build/

# Overleaf
overleaf/

# System files
.DS_Store

# Ignore all docs except index.md, test.md and figma-component-guide.md
docs/*
!docs/index.md
!docs/test.md
!docs/figma-component-guide.md
